# Ignore Terraform state files
instance/*.tfstate
instance/*.tfstate.backup
instance/*.tfplan
instance/.terraform/

# Ignore .terraform.lock.hcl file (used by Terraform 0.15 and later)
instance/.terraform.lock.hcl


# Ignore sensitive files containing credentials or secrets
instance/assignment1-dev
instance/*.pub